spring:
  application:
    name: Library-service
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:Library;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info

server:
  port: 8000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
